<h1><%= @dog.name %></h1>
<h2><%= @dog.breed %></h2>
<h2><%= @dog.age %></h2>
<% @dog.employees.each do |employee| %>
    <li><%= link_to employee.full_name, employee_path(employee) %></li>

<% end %>
